@font-face {
    font-family: charter;
    src: url('/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: charter;
    src: url('/fonts/charter-bold-italic.otf');
    font-style: italic ;
    font-weight: bold;
} 

@font-face {
    font-family: charter;
    src: url('/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: normal;
}

:root{
    font-size: 18px;
    --white10: #3A3539;
    --white20: #A5A3A5;
    --white30: white;
}

body {
    color: var(--white30);
    /* font-family: charter; */
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    scroll-behavior: smooth;
}

a {
    color: var(--white30);    
}

header {
    margin-block-start: 20px; 
    font-size: 14px;
    color: var(--white30);
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header li {
    color:var(--white20);
    margin-block-end: 16px;
}

header a:hover {
    color: var(--white30);
}

.header {
}

.header-content {
    padding-inline: 20px;
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
    /* font-size: 3.75em; */
    
}

h2 {
    font-size: 2em;
    margin-block: 40px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}

hr {
    margin-block: 40px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

pre {
    background: var(--white10);
    padding: 40px;
    overflow: auto;
    border: 10px solid #5551FF;
    border-radius: 8px;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 30px;
}

p {
    color: var(--white20);
}

.title-content {
    padding-inline: 20px;
}

.hero {
    /* background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent), url('/images/patron.png'); */
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 50px;
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList)". ";
}

/* .section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--white30);
    display: block;
} */
blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--white10);
    border-radius: 8px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    line-height: 32px;
    font-size: 24px;    
}

blockquote p {
    color: var(--white30);
}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main hr {
    display: none;
}

.main-content {
    padding-inline: 16px;
}

/* .slider {
    border: 1px solid red;
} */

.slider-container {
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    border: 1px solid blue;
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
}

.slider-bullet {
    display: inline-block;    
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    background: transparent;
    border-radius: 8px;
    padding-block: 12px;
    padding-inline: 16px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: #157EFB;
    border: none;
}

.form input::-webkit-input-placeholder {
    color: var(--white20);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }
    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position:relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }

    header {               
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }   
    
    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}